<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="provider"/>

    <!--dubbo默认的时间是500ms-->
    <dubbo:provider delay="-1" timeout="1200000" retries="0"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:annotation package="service.impl"/>

    <dubbo:protocol name="dubbo" port="20881"/>

    <bean id="userService" class="com.provider.service.impl.UserserviceImpl"/>

    <dubbo:service interface="com.common.service.UserService" ref="userService"/>

</beans>